.graph-mini .contents {
  height: 335px;
}

.graph-mini .contents div {
  text-align: center;
  box-sizing: border-box;
}

.graph-mini .contents .title {
  height: 33px;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  line-height: 2.2;
  color: #5e5e5e;
}

.graph-mini .contents .result {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #2f2f2f;
  margin: 10px 0 25px 0;
}

.graph-mini .contents .this-week {
  padding-top: 15px;
  height: 230px;
  border-bottom: 1px solid #f7f7fa;
}

.graph-mini .contents .this-year {
  padding-top: 10px;
}
