.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.login div {
  float: left;
}
.login-section {
  width: 650px;
  height: 600px;
  padding: 60px 0;
}

.signup-section {
  width: 350px;
  height: 600px;
  background-color: #3773d4;
  border-radius: 0 30px 30px 0;
}

.login-section > div {
  /* border: 1px solid red; */
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 0 150px;
}

.login-header .title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: #3773d4;
  margin-bottom: 15px;
}

.login-header .subTitle {
  font-size: 20px;
  color: #5e5e5e;
  margin: 5px 0;
}

.login-header .subTitle span:first-child {
  font-family: "Noto Sans", sans-serif;
}

.login-header .subTitle span:first-child {
  font-family: "Roboto", sans-serif;
}

.login-social {
  height: 65px;
  margin: 25px 0;
  position: relative;
}

.login-social .icons {
  position: absolute;
  width: 170px;
  left: 50%;
  transform: translateX(-50%);
}

.login-social .icons .icon {
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  margin: 0 10px;
  cursor: pointer;
  line-height: 70px;
  font-size: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.login-social .icons .icon:first-child {
  background-color: #395692;
  color: #ffffff;
}

.login-social .icons .icon:last-child {
  background-color: #db261c;
  color: #ffffff;
}

.login-social .icons .icon:first-child:hover {
  background-color: #ffffff;
  color: #395692;
}

.login-social .icons .icon:last-child:hover {
  background-color: #ffffff;
  color: #db261c;
}

.login-form div {
  position: relative;
}

.login-form .fas {
  position: absolute;
  left: 2px;
  width: 70px;
  line-height: 55px;
  font-size: 25px;
  color: #d5d5d5;
}

.login-form .id {
  margin-bottom: 20px;
}

.login-form input {
  width: 345px;
  height: 55px;
  box-sizing: border-box;
  padding-left: 70px;
  border-radius: 500px;
  border: solid 1px #d5d5d5;
  color: #d5d5d5;
  font-size: 15px;
  outline: none;
}

.login-form input:focus {
  color: black;
  border: 1px solid #3773d4;
  box-shadow: 0 0 5px 0 #3773d4;
  transition: 0.3s;
}

.login-form input:focus + .fas {
  color: #3773d4;
}

.login-bottom a {
  text-decoration-color: #3773d4;
}

.login-bottom .login-reset {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 15px;
  color: #3773d4;
  margin: 20px 0 40px 0;
}

.login-bottom .login-btn {
  width: 345px;
  height: 55px;
  box-sizing: border-box;
  border-radius: 500px;
  border: none;
  background-color: #3773d4;
  font-size: 20px;
  color: #ffffff;
  outline: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.login-bottom .login-btn:hover {
  transform: scale(1.02);
  transition: 0.5s;
}
