.title-bar {
  width: 100%;
  height: 90px;
  background-color: #3773d4;
  text-align: center;
}

.title-text {
  font-family: Nikkyou-Sans;
  font-size: 45px;
  line-height: 90px;
  color: #ffffff;
}