.password-update .title {
  text-align: center;
  margin: 20px 0 40px 0;
  font-size: 30px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #3773d4;
}

.password-update input {
  outline: none;
  box-sizing: border-box;
  width: 260px;
  height: 60px;
  border: 1px solid #d5d5d5;
  border-radius: 500px;
  padding-left: 60px;
  font-family: "Noto Sans", sans-serif;
}

.password-update input:focus {
  transition: 0.5s;
  box-shadow: 0 0 10px 0 #3773d4;
}

.password-update input:focus + .fas {
  color: #3773d4;
  transition: 0.5s;
}

.password-update input,
.password-update .fas {
  font-size: 20px;
  line-height: 60px;
}

.password-update .password,
.password-update .password-check {
  position: relative;
  width: 260px;
  margin: 20px auto;
}

.password-update .fas {
  position: absolute;
  left: 25px;
  color: #d5d5d5;
}

.password-update .warning-msg {
  font-size: 18px;
  text-align: center;
  margin: 30px 0;
  color: red;
  font-weight: 500;
}

.password-update .password-update-btn {
  box-sizing: border-box;
  padding: 0;
  width: 40%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  display: inline-block;
  margin: 0 30% 20px 30%;
  border: 1px solid #3773d4;
  background-color: #fff;
  color: #3773d4;
}

.password-update .password-update-btn:hover {
  transition: 0.5s;
  box-shadow: none;
  background-color: #3773d4;
  color: #fff;
}
