.menus {
  width: 1200px;
  margin: 0 auto;
  height: 90px;
}

.menu {
  float: left;
}

.menu-title {
  margin: 0 60px;
}

.menu-content {
  width: 180px;
}

.menu-content a {
  color: #8ebbff;
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.menu-selected a {
  color: #f7f7fa;
}

.menu-content:hover a {
  transition: 0.5s;
  color: #f7f7fa;
}

.menu-profile {
  float: right;
  width: 100px;
  height: 90px;
  position: relative;
}

.menu-profile a,
.menu-profile div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.menu-profile .profile-img {
  display: block;
  /* background-color: black; */
  background: url("../../img//profileTest.jpg") center/45px no-repeat;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 3px solid #f7f7fa;
}

.menu-profile .profile-btn {
  background: url("../../img/Navigation/downArrow.png") center/20px no-repeat;
  width: 20px;
  height: 20px;
  right: 0%;
  cursor: pointer;
}

.menu-profile .profile-menu {
  background-color: #f7f7fa;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  width: 100px;
  padding: 10px;
  left: 100%;
  transform: translate(-10px, 5px);
  visibility: hidden;
}

.menu-profile .profile-menu p {
  line-height: 30px;
  color: #777777;
  cursor: pointer;
}

.menu-profile .profile-menu p:hover {
  color: #000;
  transition: 0.5s;
}
