.record-list .chart-content {
  height: 240px;
}

.record-list .chart-content .chart-left .score {
  text-align: center;
  padding: 0;
}

.record-list .chart-content .chart-left .score span {
  border-top: 1px solid #d5d5d5;
  width: 45%;
  display: inline-block;
  font-size: 20px;
}
