.non-users {
  width: 1000px;
  height: 600px;
  margin: 150px auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  border-radius: 30px;
}

.non-users > div {
  width: 100%;
  height: 100%;
}

.non-users > div > div {
  float: left;
}

.non-users .main {
  box-sizing: border-box;
  width: 650px;
  height: 600px;
}

.non-users .sub {
  box-sizing: border-box;
  width: 350px;
  height: 600px;
  background-color: #3773d4;
}

.non-users .main > div {
  width: 70%;
  /* border: 1px solid red; */
  margin: 0 auto;
  text-align: center;
}

.non-users .main .header {
  margin-top: 60px;
  margin-bottom: 30px;
}

.non-users .main .header .title {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 900;
  color: #3773d4;
  margin-bottom: 15px;
}

.non-users .main .header .sub-title {
  font-size: 25px;
  color: #5e5e5e;
  margin-bottom: 30px;
}

.non-users .main .header .sub-title span:first-child {
  font-family: "Noto Sans";
}

.non-users .main .header .sub-title span:last-child {
  font-family: "Roboto";
}

.non-users input {
  box-sizing: border-box;
  width: 330px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  border: 1px solid #d5d5d5;
  border-radius: 500px;
  padding-left: 65px;
  outline: none;
  margin-bottom: 15px;
  color: #5e5e5e;
}

.non-users .id,
.non-users .password,
.non-users .password-check,
.non-users .nickname {
  position: relative;
}

.non-users .fas {
  line-height: 60px;
  font-size: 25px;
  color: #d5d5d5;
  position: absolute;
  left: 85px;
}

.non-users input:focus {
  transition: 0.5s;
  box-shadow: 0 0 10px 0 #3773d4;
}

.non-users input:focus + .fas {
  color: #3773d4;
  transition: 0.5s;
}

.non-users .btn {
  font-size: 23px;
  line-height: 23px;
  height: 60px;
  border: none;
  outline: none;
}

.non-users .btn:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.non-users .sub div {
  margin: 0 auto;
  text-align: center;
  font-family: "Noto Sans";
  color: #ffffff;
}

.non-users .btn {
  border-radius: 500px;
}
